body{
    background-color: black;
    color: white;
    line-height: 20px;
    margin: 50px;
}

#basic-orbit{
    margin-top: 50px;
}

#orbit-info-output{
    margin-top: 15px;
}

#hohmann-transfer{
    margin-top: 50px;
}
#hohmann-transfer-output{
    margin-top: 15px;
}

#new-orbit-output{
    margin-top: 15px;
}
#coplaner-output{
    margin-top: 15px;
}

#coplaner-ren{
    margin-top: 50px;
}
